<div id="masthead" role="banner" class="affix-top">
  <div class="container">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button"><i class="fa fa-bars fa-lg"></i></div>
        <div class="header section" id="header"><div class="widget Header" id="Header1">
          <div id="header-inner">
            {% if site.title  %}
              <div class="titlewrapper">
<!--                <h1 class="title">-->
                  {# <a href='{{ base_url_absolute }}' style='display: block'>{{ site.title }}</a> #}
                  {# <img href='{{ base_url_absolute }}' src="{{ url('theme://images/nz-navbar-logo-white.webp') }}" style="width: 50%;"></img> #}
                  <a href='{{ base_url_absolute }}'><img src="{{ url('theme://images/org-navbar-logo-white.png') }}" style="width: 57%; display: block"></a>
<!--                </h1>-->
              </div>
            {% endif %}
          </div>
        </div></div>
        <div class="nav-collapse collapse">
          {% block navigation %}
              {% include 'partials/navigation.html.twig' %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
